{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}

{% block content %}
<header id="top" class="header">
<div class="text-vertical-center">
    <h1>Exists Already</h1>
    <p>{{ object.url }}</p>
    {% if object.clickcounter.count %}
        <p>Count: {{ object.clickcounter.count }}</p>
    {% endif %}

    <p><a class="btn btn-link" href="{{ object.get_short_url }}">{{ object.get_short_url }}</a></p>
    <a class="btn btn-dark btn-lg" type="submit" href="/">+ New</a>
    <hr class="small">
    <p class="text-muted">Copyright &copy; My Website 2017</p>
</div>
</header>
{% endblock content %}
