{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>{{ title }}</h1>
        <!--             <blockquote class="blockquote-reverse">
        <p>Our life is fritted away by detail... Simplify, simplify, simplify! Simplicity of life and elevation of purpose.</p>
        <footer><cite>Henry David Thoreau</cite></footer>
        </blockquote> -->
        <form method="POST" action="."> {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark btn-lg" type="submit" value="Shorten &raquo;" role="button">
        </form>
        <hr class="small">
        <p class="text-muted">Copyright &copy; My Website 2017</p>
    </div>
</header>
{% endblock content %}



