{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}

{% block content %}
<header id="top" class="header">
<div class="text-vertical-center">
    <h1>Success</h1>
    <p>{{ object.url }}</p>
    <p><a class="btn btn-link" href="{{ object.get_short_url }}">{{ object.get_short_url }}</a>
        <button class="btn btn-danger">Copy</button>
    </p>
    <a class="btn btn-dark btn-lg" type="submit" href="/">+ New</a>
    <hr class="small">
    <p class="text-muted">Copyright &copy; My Website 2017</p>
</div>

</header>
{% endblock content %}
